.bayan__item-label {
  cursor: pointer;
}

@media screen and (min-width: 984px) {
  .bayan__item-label:hover .bayan__item-image {
    max-width: 65vw;
    max-height: 100%;
    transition: all 0.5s;
  }
}
