.bayan__item-title-text {
  margin: 0;
  padding: 0.6rem 0;
  font-size: 0.75rem;
  color: #0000bb;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 568px) and (max-width: 984px) {
  .bayan__item-title-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 984px) {
  .bayan__item-title-text {
    font-size: 1.2rem;
  }
}
