.bayan {
  font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
  max-width: 90vw;
}

@media screen and (hover: hover) {
  .bayan:hover .bayan__item-title-close-ico {
    opacity: 1;
  }

  .bayan:hover .bayan__item-title-text {
    color: #666666;
  }
}
