.bayan__item-radio {
  visibility: hidden;
  opacity: 0;
}

.bayan__item-radio:checked ~ .bayan__item-content {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
  transition: max-height 0.5s;
}

.bayan__item-radio:checked ~ .bayan__item-content > * {
  max-width: 50vw;
  max-height: 50vh;
  transition: all 0.5s;
}
