.bayan__item-radio {
  display: none;
}

.bayan__item-radio:checked ~ .bayan__item-image {
  width: 25vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.bayan__item-radio:checked ~ .bayan__item-title .bayan__item-title-text {
  color: black;
}

.bayan__item-radio:checked ~ .bayan__item-title .bayan__item-title-close-ico {
  transform: rotate(90deg);
}
